@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

*{
    margin : 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.footer-container{
    width: 100%;
    bottom: 0;
    font-size: 13px;
    line-height: 20px;
    color: #333;
    padding: 3rem 40px;
    /* border-top-left-radius: 25px; */
}
 
.footer-row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.column{
    flex-basis: 25%;
    padding: 10px;
}

.footer-container h1{
    margin-bottom: 15px;
    margin-top: 15px;
}

.contact-us p{
    text-align: justify;
}

.icons{
    text-align: justify;
    padding-left: 25px;
    margin-top: 15px;
}
.icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    color: #fff;
    background: rgb(30, 58, 138);
    margin-right: 15px;
    cursor: pointer;
}
hr{
    width: 85%;
    border: 0;
    border-bottom: 2px solid #ccc;
    margin: 10px auto;
}
.footer{
    text-align: center;
}

